html, body {
  margin: 0;
  height: 100%;
  cursor: default;
}
body {
  font-family: 'Roboto Mono', monospace;
  background-color: #121212;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
div {
  height: 50%;
  color: #E1E1E1;
}
.cagematch {
  color: #BB86FC;
}